/* Custom overrides to fix image paths */
.btn::after {
  background-image: url('/assets/img/arrow.png') !important;
}

.nav__item--tel::before {
  background-image: url('/assets/img/tel.png') !important;
}

.slider-item01 {
  background: url('/assets/img/fv.jpg') !important;
}

.slider-item02 {
  background: url('/assets/img/fv-2.jpg') !important;
}

.slider-item03 {
  background: url('/assets/img/fv-3.jpg') !important;
}

.supplement {
  background-image: url('/assets/img/bg02.jpg') !important;
}