fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #333;
	font-family: YuMincho, "Yu Mincho", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.about {
	padding: 7.5rem 0.9375rem 5.625rem 0.9375rem;
}

.about__bigText {
	color: #31B1E3;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 5.625rem;
	text-align: center;
}

.about__text {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1.5625rem;
	text-align: center;
}

.about__unit {
	display: flex;
	justify-content: center;
	margin-top: 3.75rem;
}

.about__card {
	max-width: 20rem;
	width: 100%;
}

.about__card:first-child {
	margin-right: 6.25rem;
}

.about__cardHead {
	background-color: #31B1E3;
	border-radius: 1.875rem;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 0.9375rem 0;
	text-align: center;
}

.about__image {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.9375rem;
	width: 12.5rem;
}

.about__image img {
	height: 100%;
	width: 100%;
}

.about__cardText {
	font-size: 1rem;
	letter-spacing: 0.05em;
	margin-top: 0.9375rem;
}

.btn {
	background-color: #31B1E3;
	border-radius: 1.875rem;
	color: #fff;
	display: block;
	font-size: 1.125rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.9375rem 0;
	position: relative;
	text-align: center;
	width: 20rem;
}

.btn__unit {
	margin-top: 5rem;
}

.btn::after {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.875rem;
	position: absolute;
	right: 1.125rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.875rem;
}

.btn--line {
	background-color: #00B900;
	margin-top: 1.5625rem;
}

.btn--flowPC {
	-ms-writing-mode: tb-rl;
	height: 15rem;
	padding: 1.5625rem 1rem 0 0.9375rem;
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 3.75rem;
	writing-mode: vertical-rl;
	z-index: 999;
}

.btn--flowPC::after {
	right: 50%;
	top: 1.125rem;
	transform: translateX(50%);
}

.btn--flowSP {
	background-color: #1877f2;
	border-radius: 0;
	bottom: 0rem;
	left: 50%;
	padding-bottom: 0.875rem;
	position: fixed;
	transform: translateX(-50%);
	width: 100%;
	z-index: 999;
}

.footer {
	background-color: #EFF9FD;
	padding: 5.625rem 0.9375rem 0.9375rem 0.9375rem;
}

.footer__inner {
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 37.5rem;
	width: 100%;
}

.footer__companySub {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.footer__companyMain {
	color: #31B1E3;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.footer__companyMain span {
	font-size: 1rem;
}

.footer__companyKana {
	color: #31B1E3;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.footer__info {
	display: flex;
	margin-top: 2.5rem;
}

.footer__infoItem {
	max-width: 12.5rem;
	width: 100%;
}

.footer__infoHead {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1.25rem;
}

.footer__infoDetail {
	font-size: 1.125rem;
	font-weight: bold;
	margin-bottom: 0.625rem;
}

.footer__infoDetail:last-child {
	margin-bottom: 0;
}

.footer__copyright {
	font-size: 0.75rem;
	margin-top: 3.75rem;
	text-align: center;
}

.fv {
	margin-top: 4.375rem;
	position: relative;
}

.fv__body {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.fv__main {
	color: #000;
	font-size: 2.75rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 1px 0 0 rgba(255, 255, 255, 0.5);
	white-space: nowrap;
}

.fv__sub {
	bottom: 3.125rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 10;
}

.fv__company {
	color: #000;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 1px 0 0 rgba(255, 255, 255, 0.5);
	white-space: nowrap;
}

/*==================================================
スライダーのためのcss
===================================*/

.slider { /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 33.125rem;
	margin-left: auto; /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
	margin-right: auto;
	max-width: 62.5rem;
	position: relative;
	width: 100%;
	z-index: 1;
}

/*　背景画像設定　*/

.slider-item01 {
	background: url(../img/fv.jpg);
}

.slider-item02 {
	background: url(../img/fv-2.jpg);
}

.slider-item03 {
	background: url(../img/fv-3.jpg);
}

.slider-item { /*背景画像をリピートしない*/
	background-position: center; /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
	background-repeat: no-repeat; /*背景画像の位置を中央に*/
	background-size: cover; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
	height: 33.125rem;
	width: 100%; /*背景画像が.slider-item全体を覆い表示*/
}

.header {
	background-color: #fff;
	left: 0;
	padding: 0.9375rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav { /*ナビの高さ*/
	background: #fff;
	height: 100vh; /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
	position: fixed;
	right: -120%; /*ナビのスタート位置と形状*/
	top: 0; /*動き*/
	transition: all 0.6s;
	width: 100%;
	z-index: 999;
}

/*アクティブクラスがついたら位置を0に*/

#g-nav.panelactive {
	right: 0;
}

/*ナビゲーションの縦スクロール*/

#g-nav.panelactive #g-nav-list {
	-webkit-overflow-scrolling: touch;
	height: 100vh; /*表示する高さ*/
	overflow: auto; /*ナビの数が増えた場合縦スクロール*/
	position: fixed;
	width: 100%;
	z-index: 999;
}

/*ナビゲーション*/

#g-nav ul {
	left: 10%; /*ナビゲーション天地中央揃え*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}

/*リストのレイアウト設定*/

#g-nav li {
	list-style: none;
}

#g-nav li a {
	color: #31B1E3;
	display: block;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
}

/*========= ボタンのためのCSS ===============*/

.openbtn {
	cursor: pointer;
	display: none;
	height: 50px;
	position: fixed;
	right: 10px; /*ボタンを最前面に*/
	top: 0.4375rem;
	width: 50px;
	z-index: 9999;
}

/*×に変化*/

.openbtn span {
	background-color: #31B1E3;
	border-radius: 2px;
	display: inline-block;
	height: 3px;
	left: 14px;
	position: absolute;
	transition: all .4s;
	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top: 15px;
}

.openbtn span:nth-of-type(2) {
	top: 23px;
}

.openbtn span:nth-of-type(3) {
	top: 31px;
}

.openbtn.active span:nth-of-type(1) {
	background-color: #31B1E3;
	left: 18px;
	top: 18px;
	transform: translateY(6px) rotate(-45deg);
	width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	background-color: #31B1E3;
	opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
	background-color: #31B1E3;
	left: 18px;
	top: 30px;
	transform: translateY(-6px) rotate(45deg);
	width: 30%;
}

.heading {
	font-size: 2.25rem;
	letter-spacing: 0.05em;
	position: relative;
	text-align: center;
}

.heading::after {
	bottom: -2.1875rem;
	color: #31B1E3;
	font-size: 1.75rem;
	font-weight: regular;
	left: 50%;
	letter-spacing: 0.05em;
	position: absolute;
	transform: translateX(-50%);
}

.heading--about::after {
	content: "about";
}

.heading--image::after {
	content: "image";
}

.heading--message::after {
	content: "message";
}

.image {
	background-color: #EFF9FD;
	padding: 5.625rem 0.9375rem;
}

.image__main {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.625rem;
	max-width: 59.375rem;
	width: 100%;
}

.image__main img {
	height: 100%;
	width: 100%;
}

.message {
	padding: 5.625rem 0.9375rem;
}

.message__box {
	box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.25);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 45rem;
	padding: 2.5rem;
	width: 100%;
}

.message__box p {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 2;
}

.nav__wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.nav__logoImage {
	height: auto;
	width: 3.125rem;
}

.nav__logoImage img {
	height: 100%;
	width: 100%;
}

.nav__list {
	align-items: center;
	display: flex;
}

.nav__item {
	border-right: 0.0625rem solid #E5E5E5;
	padding: 0.4375rem 0.9375rem;
}

.nav__item a {
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 0.15em;
	line-height: 1.4;
}

.nav__item--tel {
	border: none;
	padding-left: 2.5rem;
	position: relative;
}

.nav__item--tel::before {
	background-image: url(../img/tel.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: '';
	height: 1.25rem;
	left: 0.9375rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
}

.supplement {
	background-image: url(../img/bg02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5.625rem 0.9375rem;
}

.supplement__box {
	border: 0.125rem solid #fff;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 59.375rem;
	padding: 2.5rem 1.5625rem;
	width: 100%;
}

.supplement__list {
	max-width: 18.75rem;
	width: 100%;
}

.supplement__item {
	font-size: 1.125rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin-top: 0.9375rem;
	text-align: center;
}

.supplement__item:first-child {
	margin-top: 0;
}

.sp {
	display: none;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (max-width: 1023px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.about {
	padding-top: 3.75rem;
}

.about__bigText {
	font-size: 1.25rem;
}

.about__text {
	font-size: 0.875rem;
	line-height: 1.75;
}

.about__unit {
	align-items: center;
	flex-direction: column;
}

.about__card:first-child {
	margin-bottom: 3.75rem;
	margin-right: 0;
}

.about__cardText {
	font-size: 0.875rem;
	font-weight: bold;
}

.footer__companySub {
	font-size: 1rem;
}

.footer__companyMain {
	font-size: 1.75rem;
}

.footer__info {
	flex-direction: column;
}

.footer__infoItem {
	margin-bottom: 2.5rem;
	max-width: 100%;
}

.footer__infoItem:last-child {
	margin-bottom: 0;
}

.fv__body {
	top: 40%;
}

.fv__main {
	font-size: 1.5rem;
}

.fv__sub {
	bottom: 2.5rem;
}

.fv__company {
	font-size: 1.125rem;
}

.slider {
	height: 18.75rem;
}

.slider-item {
	height: 14.0625rem;
}

.openbtn {
	display: block;
}

.heading {
	font-size: 1.75rem;
}

.heading::after {
	bottom: -1.5625rem;
	font-size: 1.125rem;
}

.nav__logoImage {
	width: 2.5rem;
}

.nav__list.inFooter {
	align-items: flex-start;
	flex-direction: column;
	margin-top: 3rem;
}

.nav__item {
	border: none;
	padding-left: 0;
}

.nav__item--tel {
	padding-left: 1.25rem;
}

.supplement__box {
	align-items: center;
	flex-direction: column;
}

.supplement__list {
	margin-bottom: 0.9375rem;
}

.supplement__list:last-child {
	margin-bottom: 0;
}

.pc {
	display: none;
}

.sp {
	display: block;
}

}

